
@{
    ViewBag.Title = "TeacherCoursesDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
}

@model List<LearnerProject.Models.Entities.Course>
<div class="untree_co-hero overlay" style="background-image: url('/Templates/learner-1.0.0/images/hero-img-1-min.jpg'); ">


    <div class="container">
        <div class="row align-items-center justify-content-center">

            <div class="col-12">

                <div class="row justify-content-center ">

                    <div class="col-lg-6 text-center ">


                        <h1 class="mb-4 heading text-white" data-aos="fade-up" data-aos-delay="100">@ViewBag.TeacherName Kursları</h1>
                    </div>


                </div>

            </div>

        </div>
    </div>

</div>



<div class="untree_co-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
                <h2 class="line-bottom text-center mb-4">@ViewBag.TeacherName Kursları (@Model.Count())</h2>
                <p>Öğretmenimize Ait Olan Kursları Aşağıdan İnceleyebilirsiniz.</p>
            </div>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

                    <div class="custom-media">

                        <a href="#"><img src="/Templates/learner-1.0.0/images/img-school-1-min.jpg" alt="Image" class="img-fluid"></a>
                        <div class="custom-media-body">
                            <div class="d-flex justify-content-between pb-3">
                                <div class="text-primary">
                                    <span class="bx bx-video"></span> <span>
                                        @item.Courses.Where(x => x.CourseId == item.CourseId).Count() video
                                        <br />

                                    </span>
                                </div>

                                <div class="review">
                                    <span>
                                        @{
                                            var value = item.Reviews.FirstOrDefault(x => x.CourseId == item.CourseId);

                                        }
                                        @if (value == null)
                                        {
                                            <span class="text-primary"><small>Henüz Puanlanmadı <i class="bx bx-sad"></i></small></span>
                                        }
                                        else
                                        {
                                            //Ortalamasını al.
                                            var reviewss = item.Reviews.Where(x => x.CourseId == item.CourseId).Average(x => x.ReviewValue);
                                            <span class="text-primary">@reviewss.ToString("0.0")</span>

                                            //Alınan ortalama 5 üstünden olduğu için 5 den çıkar (kalan sayı kadar boş yıldız doncez.)
                                            double islem = 5 - reviewss;

                                            //Ortalama kadar yıldız dön.
                                            for (float i = 1; i <= reviewss; i++)
                                            {
                                                <i class="icon-star text-primary"></i>

                                            }
                                            //eğer ondalıklıysa değer yıldızların sonuna yarım yıldız ekle
                                            if (reviewss % 1 != 0)
                                            {
                                                <span class="icon-star-half-empty text-primary"></span>
                                                for (int i = 1; i <= islem; i++)
                                                {
                                                    <i class="icon-star-o text-primary"></i>
                                                }


                                            }
                                            //eğer 5 den ortalama değeri ondalıklı değilse boş yıldız ekleme işlemi
                                            if (islem % 1 == 0)
                                            {
                                                for (int i = 1; i <= islem; i++)
                                                {
                                                    <i class="icon-star-o text-primary"></i>
                                                }
                                            }




                                        }
                                    </span>
                                </div>
                            </div>
                            <h3 class="text-primary">@item.CourseName</h3>
                            <p class="mb-4">@(item.Description.Length>=35?item.Description.Substring(0,35)+"...":item.Description)</p>
                            <p class="mb-4"><span class="bx bx-user"></span> <span>Eğitmen : @item.Teacher.NameSurname</span></p>
                            <div class="border-top d-flex justify-content-between pt-3 mt-3 align-items-center">
                                <div><span class="price text-primary">@item.Price.ToString("C2") </span></div>
                                <div><a href="/CourseDetails/Index/@item.CourseId" style="border-radius:5px;" class="btn btn-sm btn-outline-primary"><i class="bx bx-search"></i> Detay Gör</a></div>
                            </div>
                        </div>

                    </div>

                </div>
            }
        </div>

    </div>

</div>

