@model LearnerProject.Models.Entities.Course

@{
    ViewBag.Title = "CourseDetail";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<div class="card">

    <span class="card-header">
        <span style="font-weight:bold; text-transform:capitalize">Görüntülediğiniz Kurs Adı : @Model.CourseName</span><br /> <i>Bu kursa ile ilgili silme ve güncelleme işlemlerini aşağıdan gerçekleştirebilirsiniz.</i>
    </span>

    <div class="card-body">
        <form method="post">
            <div class="mb-3">
                <input type="hidden" value="@Model.CourseId" name="CourseId" />
                <label for="exampleFormControlInput1" class="form-label">Kurs Adı</label>
                <input name="CourseName" value="@Model.CourseName" onkeyup="FormValidatior(this.value)" type="text"
                       class="form-control"
                       id="exampleFormControlInput1" />
                <label style="display:none" class="text-danger inputmessageForTitle"></label>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Görseli</label>
                <img src="@Model.ImageUrl" alt="Kurs: @Model.CourseName - Görseli" style="width:100%; height:300px;" class="img-thumbnail" /><br />
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Kategorisi</label>  <br />
                <br />
                <input name="Price" value="@Model.Category.CategoryName" onkeyup="FormValidatior(this.value)" type="text"
                       class="form-control"
                       id="exampleFormControlInput1" />
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Fiyatı</label>
                <input name="Price" value="@Model.Price" onkeyup="FormValidatior(this.value)" type="text"
                       class="form-control"
                       id="exampleFormControlInput1" />
                <label style="display:none" class="text-danger inputmessageForTitle"></label>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Açıklama</label>
                <textarea class="form-control" rows="10" name="Description">@Model.Description</textarea>
                <label style="display:none" class="text-danger inputmessageForTitle"></label>
            </div>
            <div class="mb-3">
                <a href="/Courses/DeleteCourse/@Model.CourseId" class="btn btn-outline-danger">Sil</a>
            </div>
        </form>


    </div>
</div>

<br />
<br />


@if (TempData["Result"] != null)
{

    <div class="alert alert-dark" id="alert" style="display:none">
        @TempData["Result"].ToString()
    </div>

    <script>
        $("#alert").fadeIn();
        $("#alert").fadeOut(2500);
    </script>

}





