@model List<LearnerProject.Models.Entities.Review>
<div class="container">
    <div class="row justify-content-center mb-2">
        <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
            <h2 class="line-bottom text-center mb-4">Kursun Değerlendirmeleri/Yorumları</h2>
            <h6 class="line-bottom text-center mb-4">Değerlendirme Sayısı (@Model.Count())</h6>
            <h6 class="line-bottom text-center mb-4">Değerlendirme Ortalaması (@(Model.Count==0?0:Model.Average(x=>x.ReviewValue))/5)</h6>
        </div>
    </div>
    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <div class="row">
                <div class="col-12 ">
                    <div class="custom-media">
                        <div class="custom-media-body">
                            <div class="d-flex justify-content-between pb-3">
                                <div class="text-primary"><span class="uil uil-user"></span> <span>@item.Student.NameSurname</span></div>
                                <div class="review">
                                    <span class="text-dark">
                                        Öğrencinin Bu Kursa Puanı :  @item.ReviewValue / 5
                                    </span>
                                </div>
                            </div>
                            <h6>@item.Comment</h6>

                        </div>
                    </div>
                </div>
            </div>
            <hr />
        }
    }
    else
    {

        <div class="row  mb-5">
            <div class="col-12 ">
                <div class="custom-media">
                    <div class="custom-media-body ">
                        <div class="d-flex justify-content-center pb-1">
                            <h4 style="text-align:center"> Bu kursa henüz hiç değerlendirme yapılmadı.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>