@model LearnerProject.Models.Entities.Course
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
    string text = "";
    var find = Model.Reviews.FirstOrDefault(x => x.CourseId == Model.CourseId);
    double xt = 0;
    double islem = 5;
    if (find == null)
    {
        text = "Henüz değerlendirme yok";
    }
    else
    {
        var value = Model.Reviews.Where(x => x.CourseId == Model.CourseId).Average(y => y.ReviewValue);
        text = value.ToString() + " / 5";
        xt = value;
        islem = islem - value;
    }



}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/sweetalert2.min.js"></script>
<link href="~/Content/sweetalert2.min.css" rel="stylesheet" />
<script>
    $(function () {
        $(".registerCourseBtn").click(function () {
            Swal.fire(
                'Uyarı',
                'Kursa Kayıt Olmak İçin Önce Giriş Yapmanız Gereklidir.',
                'error'
            );
        });
    });
</script>


@if (Session["session"] != null)
{
    <script>
        alert("devam edebilmek için giriş yapın.");
    </script>
}

<div class="untree_co-hero overlay" style="background-image: url('/Templates/learner-1.0.0/images/hero-img-1-min.jpg'); ">


    <div class="container">
        <div class="row align-items-center justify-content-center">

            <div class="col-12">

                <div class="row justify-content-center ">

                    <div class="col-lg-6 text-center ">


                        <h1 class="mb-4 heading text-white" data-aos="fade-up" data-aos-delay="100">@Model.CourseName Kurs Detayı</h1>
                        <a href="#" href="https://vimeo.com/342333493" data-fancybox data-aos="fade-up" data-aos-delay="0" class="caption mb-4 d-inline-block">İlk Video'u aç</a>
                    </div>


                </div>

            </div>

        </div>
    </div>

</div>


<div class="untree_co-section ">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
                <h2 class="line-bottom text-center mb-4">Kurs Detay Sayfası</h2>
                <h4 class="line-bottom text-center mb-2">@Model.CourseName</h4>

            </div>
        </div>

        <div class="row">

            <div class="col-6 ">
                <div class="custom-media">

                    <a href="#"><img src="/Templates/learner-1.0.0/images/img-school-1-min.jpg" alt="Image" style="width:100%; height:600px " class="img-fluid"></a>
                    <div class="custom-media-body">

                        <div class="d-flex justify-content-between pb-3">
                            <div class="text-primary"><span class="bx bx-category"></span> <span>Kurs Kategorisi</span></div>
                            <div class="review">
                                <span class="text-dark">
                                    @Model.Category.CategoryName
                                </span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between pb-3">
                            <div class="text-primary"><span class="bx bxs-graduation"></span> <span>Kurs Adı</span></div>
                            <div class="review">
                                <span class="text-dark">
                                    @Model.CourseName
                                </span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between pb-3">
                            <div class="text-primary"><span class="bx bx-video"></span> <span>Video Sayısı : </span></div>
                            <div class="review">
                                <span class="text-dark">
                                    @ViewBag.VideoCount
                                </span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between pb-3">
                            <div class="text-primary"><span class="bx bx-star"></span> <span>Değerlendirilme :  </span></div>
                            <div class="review">
                                <span class="text-dark">@xt.ToString("0.0")</span>
                                @for (int i = 1; i <= xt; i++)
                                {
                                    <i class="icon-star text-dark"></i>
                                }
                                @if (xt % 1 != 0)
                                {
                                    <span class="icon-star-half-empty text-dark"></span>
                                    for (int i = 1; i <= islem; i++)
                                    {
                                        <i class="icon-star-o text-dark"></i>
                                    }

                                }
                                @if (islem % 1 == 0)
                                {
                                    for (int i = 1; i <= islem; i++)
                                    {
                                        <i class="icon-star-o text-dark"></i>
                                    }
                                }
                            </div>
                        </div>
                        <div class="border-top d-flex justify-content-between pt-3 mt-3 align-items-center">
                            <div><span class="price">@Model.Price.ToString("C2")</span></div>
                            <input class="registerCourseBtn btn btn-sm btn-outline-primary" value="Kayıt Ol" style="border-radius:5px" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-6 ">
                <div class="custom-media">
                    <div class="custom-media-body">
                        <h4>Kurs İçeriği</h4>
                        <ul>
                            <li style="color: #666">
                                Uzun pozlama nedir ve nasıl çalışır?
                            </li>

                        </ul>
                        <h4>Kursta Öğrenecekleriniz</h4>
                        <ul>
                            <li>
                                Uzun pozlama temel kavramlarına hakim olacak ve nasıl uygulanacağını öğreneceksiniz.
                            </li>

                        </ul>
                    </div>

                </div>
                <br />
                <div class="col-12">
                    <div class="custom-media">
                        <div class="custom-media-body">
                            <h4>Kurs Açıklaması</h4>
                            <span>@Model.Description</span>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <br />
        @if (Session["userStudentName"] == null)
        {

            <div class="container alert alert-warning text-center">
                <i class="bx bx-info-circle"></i>  Yorum Yapabilmek İçin Önce Sisteme Giriş Yapmalısınız.
            </div>
        }
        else
        {
            <div class="container ">
                <form method="post">
                    <div class="form-group">
                        <input type="hidden" value="@Model.CourseId" name="CourseId" />
                    </div>
                    <div class="form-group">
                        @Html.Label("Puanınız")
                        <select class="form-control" name="ReviewValue">
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        @Html.Label("Yorumunuz")
                        <textarea class="form-control" name="Comment" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Yorum Yap" class="btn btn-outline-primary" style="border-radius:5px" />
                    </div>
                </form>
            </div>

        }
        <div class="row justify-content-center mb-2">
            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
                <h2 class="line-bottom text-center mb-4">Kursun Değerlendirmeleri/Yorumları</h2>
                <h6 class="line-bottom text-center mb-4"> <i class="bx bx-comment-check"></i> Değerlendirme Sayısı  (@Model.Reviews.Count(x => x.CourseId == Model.CourseId))</h6>
                <h6 class="line-bottom text-center mb-4">
                    <i class="icon icon-stars"></i>  Değerlendirme Ortalaması
                    <br />
                    <br />
                    @for (int i = 1; i <= xt; i++)
                    {
                        <i class="icon-star text-primary"></i>
                    }
                    @if (xt % 1 != 0)
                    {
                        <span class="icon-star-half-empty text-primary"></span>
                        for (int i = 1; i <= islem; i++)
                        {
                            <i class="icon-star-o text-primary"></i>
                        }

                    }
                    @if (islem % 1 == 0)
                    {
                        for (int i = 1; i <= islem; i++)
                        {
                            <i class="icon-star-o text-primary"></i>
                        }
                    }

                </h6>
            </div>
        </div>
        @Html.Action("Comments")

    </div>


