
@{
    Layout = null;
}

<!doctype html>
<html lang="tr">
@Html.Partial("~/Views/UILayout/DefaultHeadPartial.cshtml")
<body>
    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    @Html.Partial("~/Views/UILayout/DefaultNavbarPartial.cshtml")
    @RenderBody()
    @Html.Partial("~/Views/UILayout/DefaultFooterPartial.cshtml")
    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    @Html.Partial("~/Views/UILayout/DefaultScriptsPartial.cshtml")
</body>
</html>