
@{
    ViewBag.Title = "UpdateClassRoom";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@using LeanerProject.Models.Entities
@using PagedList;
@using PagedList.Mvc;
@model LearnerProject.Models.Entities.Classroom
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<style>
    .Icon:hover {
        color: darkseagreen;
        transform: scale(1.3);
    }

    .IconsDiv .bx {
        transition-duration: 500ms;
        padding: 15px;
    }

    .page-link {
        background-color: transparent;
    }

        .page-link:hover {
            background-color: transparent;
        }

        .page-link a {
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            height: 30px;
            color: grey;
            text-align: center;
            background-color: whitesmoke;
        }

        .page-link.active {
            background-color: whitesmoke;
            color: #fff;
            border-color: #007bff;
        }
</style>

<div class="modal fade" id="exLargeModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel4">İkon Seçenekleri</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <small>Ara.. (Lütfen aramak istedğiniz ikonun adını ingilizce olarak yazınız.)</small>

                <input type="text" placeholder="Ara.." id="modaltxtinput"   onkeyup="SearchIconFunction(this.value,'ClassRoom','UpdateClassRoom',@Model.ClassroomId)" class="form-control " />
                <br />

                <div class="IconsDiv">
                    @Html.Action("_IconsPartial")
                </div>
                <br />
                <div style="justify-content:center; align-items:center; display:flex;">
                    @Html.PagedListPager((IPagedList)ViewBag.V, pageNumber => Url.Action("UpdateClassRoom", new { pageNumber, status = "active" }), new PagedListRenderOptions { LiElementClasses = new List<string> { "page-link" } })
                </div>
            </div>
        </div>
    </div>
</div>




@if (TempData["pagenumber"] != null)
{
    <script>
        $(function () {
            $("#exLargeModal").modal('show');

        });
    </script>
}




@if (TempData["Result"] != null)
{
    <div class="alert alert-danger" id="alert" style="display:none">
        @Html.Raw(TempData["Result"].ToString())
    </div>

    <script>
        $("#alert").fadeIn();
    </script>

}
<div class="alert alert-danger" id="alert1" style="display:none">

</div>


<div class="col-md-12">
    <small class="text-light fw-semibold">Sınıf Alanı</small>
    <div class="card mb-4">
        <h5 class="card-header">
             Sınıf Güncelleme Sayfası
            <br />
            <span class="small"> <small>  <b>* Aşağıdaki alanları lütfen eksiksiz doldurun</b> </small></span>

        </h5>

        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <input type="hidden"  value="@Model.ClassroomId" name="ClassroomId"/>
                    <label for="exampleFormControlInput1" class="form-label">Sınıf Adı</label>
                    <input value="@Model.Name"  name="Name" type="text"
                           class="form-control"
                           id="exampleFormControlInput1" />
                    <label style="display:none" class="text-danger inputmessageForName"></label>
                </div>
                <div class="mb-3">
                    <span style="display:none" class="selectedIconTxt2"><small><b>Mevcut İkon :</b> <i class="@Model.CategoryIcons.IconType"></i> </small></span>
                    <br />
                    <span class="selectedIconTxt"><small><b>Mevcut İkon :</b> @Model.CategoryIcons.IconType </small></span>
                    <span class="SetIcon"><i class="@Model.CategoryIcons.IconType"></i></span>
                    <br />
                    <br />
                    <label for="exampleFormControlInput1" class="form-label">Ikon Değiştirmek İçin Seçiniz</label><br />
                    <a class="btn btn-outline-warning chooseIcon">İkon Seç</a>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Açıklama</label>
                    <textarea rows="10" class="form-control" name="Description" id="">@Model.Description</textarea>
                    <label style="display:none" class="text-danger inputmessageForDescription" id="exampleFormControlInput2"></label>
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-outline-success" value="Kaydet" />

                </div>
            </form>

        </div>
    </div>
</div>







